html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, pre, code,
form, fieldset, legend, button, input, textarea, select, option,
th, td,
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{margin:0;padding:0;}
ol, ul, li { list-style: none; }
body, button, input, select, textarea { font: 9pt/1.5 Arial,"microsoft yahei", Helvetica, sans-serif , tahoma, Srial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal}
em { font-style: normal; }
abbr, acronym { border: 0; font-variant: normal; }
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; }
fieldset, img { border: none 0; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color:#666; transition: color .3s ease-in-out;-webkit-transition: color .3s ease-in-out; -moz-transition: color .3s ease-in-out; -o-transition: color .3s ease-in-out; -ms-transition: color .3s ease-in-out; }
a:hover { text-decoration: none; color:#57AC34;}
q:before, q:after { content: ''; }
.opa { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); }
.unfl { height: 0; line-height: 0; font-size: 0; clear: both; zoom: 1; overflow: hidden; visibility: hidden; }
.clear { clear: both; }
.nofl { zoom: 1; overflow: hidden; /* for IE6 IE7 */ }
.hide { display: none; }
.fl { float: left; }
.fr { float: right; }
.inl { display: inline }
.blk { display: block; }
/*---------- 清除表单各种默认样式 ----------*/
input{-webkit-appearance: none; border-radius:0;}
textarea {  -webkit-appearance: none;resize: none;}   
input:focus, textarea:focus {outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only;}	
input::-ms-clear {display: none;}
/*----- mediaScreen -----*/
@media screen and (max-width:1024px){
	
	}
@media screen and (max-width:768px){
	
	}
@media screen and (max-width:375px){
	
	}


