@charset "UTF-8";
/* CSS Document */
body{ background:#f8f5f0;}
.warp{ width:1315px; margin-left:auto; margin-right:auto;}
.logo{ padding:18px 0 12px 28px; float:left;}
.logo a{ overflow:hidden;}
.telBox{ float:right;}
.telBox a.wx{ display:block; float:left; width:35px; height:35px; display:block; margin-right:20px; background:url(../img/wx.png) 0 0 no-repeat; position:relative; margin-top:22px;}
.telBox a.wx img{ display:block; position:absolute; z-index:20; top:40px; left:-66px; display:none;}
.telBox span.tel{ display:block; float:left; padding-left:25px; height:30px; line-height:30px; background:url(../img/tel.png) 0 center no-repeat; font-size:18px; margin-top:25px; color:#383735; overflow:hidden;}
.telBox span.lab{ display:block; float:left;line-height:20px; height:20px; overflow:hidden; color:#fff; background:#941300; padding:0 10px; margin-left:13px; margin-top:30px;}
.nav{ background:#000; width:100%; height:35px; position:relative; z-index:5;}
.bnav{ float:left;}
.bnav a.noma,.bnav span.noma{ display:inline-block; line-height:35px; padding:0 35px; color:#ddd; font-size:14px;}
.bnav a.noma:hover,.bnav span.noma:hover{ color:#fff;}
.bnav span.meu{ background:#333; cursor:pointer;}
.bnav span.meu i{ font-style:normal; display:inline-block; padding-right:15px; background:url(../img/row.png) right center no-repeat;}
.snav{ background:#fff; width:100%; position:absolute; height:176px; padding:12px 0; top:35px; left:0;opacity: 0.9; -moz-opacity: 0.9; filter: alpha(opacity=90); display:none;}
.cnav{ float:right;}
.cnav span.line{ color:#ddd; line-height:35px; }
.cnav span.yhj{ display:inline-block; height:20px; color:#fff; line-height:20px; margin-top:7px; background:url(../img/rowred.png) right center no-repeat; padding-right:7px; margin-right:-30px;}
.cnav span.yhj i{ display:inline-block; font-style:normal; background:#cc1100; padding:0 10px;}
.cnav a{ line-height:35px; color:#ddd;padding:0 30px;}
.cnav a:hover{ color:#fff;}
.rbor{ border-right:1px solid #ddd;}
.snav li{ padding:0 45px; height:176px; float:left;}
.title1{ width:165px; height:30px; line-height:30px; text-align:center; background:#ece6cc; font-weight:normal; color:#b08600; font-size:14px;}
.title2{ height:30px; line-height:30px; color:#4D4D4D;font-weight:normal; font-size:14px;}
.title3{ float:left;height:30px; line-height:30px; color:#4D4D4D;font-weight:normal; font-size:14px; width:60px;}
.subMeu{ width:100%; overflow:hidden;}
.subMeu a{ display:inline-block; line-height:20px; color:#666;}
.subLink{ width:200px; padding-top:10px; overflow:hidden;}
.subLink a{ display:block; font-size:12px; float:left; width:100px; padding:0; margin:0; line-height:30px;}
.subLink a:hover{ color:#b48706;}
.newPro{ float:left; width:180px; margin-top:20px; display:inline; margin-right:20px;}
.newPro dt{ display:block;}
.newPro dt{ height:130px;}
.newPro dt img{ width:100%;}
.newPro dd{ text-align:center; line-height:20px; font-size:12px; color:#666;}
.newPro dd a{color:#666;}
.newPro dd a:hover{color:#b48706;}
.indexFocus .swiper-pagination { position: absolute; text-align: center; transform: translate3d(0px, 0px, 0px); transition: all 300ms ease 0s; z-index: 10; bottom: 10px; left: 0; width: 100%; height: 30px; }
.indexFocus .swiper-pagination span { display: inline-block; width: 15px; height: 15px; border-radius: 50px; background: #c2c1c0; margin: 0 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer; }
.indexFocus .swiper-pagination span.swiper-active-switch { background: #cc1100; }
.indexFocus .swiper-wrapper img{ display:block}
.indexFocus a.btnImg{ display:block; width:70px; height:70px; position:absolute; z-index:999; top:50%; margin-top:-35px; background:url(../img/btn.png) no-repeat; background-size:cover;}
.indexFocus a.prevImg{left:10px; background-position:right 0;}
.indexFocus a.nextImg{right:10px; background-position:left 0;}
.focus1{ height:auto;}
.focus2{ height:0;}
.ban{ margin-top:30px; height:35px; line-height:35px; font-size:22px; text-align:center; border-bottom:1px solid #ddd; font-weight:normal; color:#777;}
.ban span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-left:5px;}
.unit{ width:50%; float:left;}
.unit dl{position:relative; margin-top:20px;}
.unit dl.dl1{ margin-right:5px;}
.unit dl.dl2{ margin-left:5px;}
.unit dl dt img{ display:block; width:100%;}
.unit dl.dl1 dd{ position:absolute; width:100%; height:60px; left:0; bottom:0; z-index:10; background:#fff;opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);}
.unit dl.dl1 dd a.title{ display:block; float:left; line-height:60px; line-height:60px; color:#333; font-size:22px; padding-left:30px;}
.unit dl.dl1 dd a.title:hover{ color:#cc1100;}
.unit dl.dl1 dd span.time0{ display:block; line-height:60px; float:right; font-size:12px; color:#000; padding-right:5px;}
.unit dl.dl1 dd a.btnBm{ display:block; width:120px; height:40px; line-height:40px; text-align:center; margin:10px 10px 0 0; background:#cc1100; color:#fff; font-size:16px; float:right;}
.unit dl.dl2 dd{ position:absolute; width:100%; height:60px; left:0; bottom:0; z-index:10; background:#fff;opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);}
.unit dl.dl2 dd a.title{ display:block; float:left; line-height:60px; line-height:60px; color:#333; font-size:22px; padding-left:30px;}
.unit dl.dl2 dd a.title:hover{ color:#cc1100;}
.unit dl.dl2 dd a.title span.xPrice{color:#cc1100; padding-left:20px;}
.unit dl.dl2 dd span.yPrice{display:block; line-height:60px; float:left; font-size:12px; color:#000; padding-left:5px; text-decoration:line-through;}
.unit dl.dl2 dd a.btnBm{ display:block; width:120px; height:40px; line-height:40px; text-align:center; margin:10px 10px 0 0; background:#cc1100; color:#fff; font-size:16px; float:right;}
.unit dl.dl2 dd a.btnBm span{ padding-left:15px; background:url(../img/buy.png) 0 center no-repeat; display:inline-block;}
.unit dl.dl2 dd span.time{ position:absolute; display:block; width:250px; height:28px; line-height:28px; text-align:center; background:#db9e34; color:#fff; font-size:14px; left:50%; margin-left:-125px; bottom:46px; border-radius:10px;}
.unit dl.dl1 dd span.time{ position:absolute; display:none; width:250px; height:28px; line-height:28px; text-align:center; background:#db9e34; color:#fff; font-size:14px; left:50%; margin-left:-125px; bottom:46px; border-radius:10px;}
.bBox{ margin:0 80px; padding:50px 0;}
.bBox li{ float:left; width:25%;}
.bBox li dl{ border-right:1px solid #ededed; padding:0 20px;}
.bBox li dl dt{ float:left; width:26%;}
.bBox li dl dd{ float:right; width:68%;}
.bBox li dl dd h5{ line-height:30px; font-size:18px; color:#333; font-weight:normal;}
.bBox li dl dd p{ color:#848484; line-height:15px; font-size:12px;}
.footer{ background:#000; padding-top:45px;}
.link1{ float:left; width:50%;}
.link1 p.p1{ font-size:14px; color:#F8F3F0; line-height:40px;}
.link1 p.p1 a{ color:#F8F3F0;}
.link1 p.p1 a:hover{ color:#fff;}
.link1 p.p1 span{ padding:0 10px;}
.link1 p.p2{ line-height:18px; color:#666;}
.link2{ float:right; width:45%;}
.link2 .p1{ float:left; width:40%;}
.link2 .p2{ float:left; width:60%;}
.link2 .p1 h2,.link2 .p2 h2{ line-height:30px; font-size:14px; font-weight:normal; color:#F8F3F0;}
.link2 .p1 ul{ width:100%; overflow:hidden; margin-top:10px;}
.link2 .p1 ul li{ width:25%; float:left; display:inline; margin-right:8%;}
.link2 .p1 ul li img{ display:block;}
.link2 .p1 ul li span{ display:block; line-height:25px; text-align:center; font-size:12px; color:#adadad;}
.bInfo{ border-top:1px solid #444; font-size:14px; color:#adadad; line-height:60px; text-align:center; font-weight:normal; margin-top:20px;}
.bInfo .s1{ padding-right:10px;}
.num1{ color:#ccc; font-size:18px; line-height:30px;}
.num2{ display:inline-block; line-height:20px; background:#941300; color:#fff; padding:0 10px; margin-left:15px;}
.sxLink{ padding:10px 0 20px 0; border-bottom:1px solid #ddd;}
.sxLink a{ display:inline-block; line-height:30px; height:30px; padding:0 25px; margin-right:25px; margin-top:10px;}
.sxLink a:hover{ color:#b48806;}
.sxLink a.cur2{ background:#b48806; color:#fff;}
.listBox{ width:100%; overflow:hidden; padding-bottom:20px;}
.listBox li{ float:left; margin:22px 0 0 0; width:25%;}
.listBox li dl{ padding:0 19px;}
.listBox li dl dt img{ display:block; width:100%;}
.listBox li dl dd{ margin-top:15px;}
.listBox li dl dd h5{ width:100%; overflow:hidden; font-weight:normal;}
.listBox li dl dd h5 a{ display:block; float:left; font-size:22px; line-height:40px; color:#777;}
.listBox li dl dd h5 a:hover{ color:#cc1100;}
.listBox li dl dd h5 span{ display:block; float:right; line-height:40px; color:#666; font-size:16px;}
.listBox li dl dd p.p1{ line-height:25px; color:#B38706; font-size:16px;}
.listBox li dl dd p.p2{ color:#666;}
.listBox li dl dd p.p3{ color:#666; width:100%; overflow:hidden; line-height:25px;}
.listBox li dl dd p.p3 .s1{ display:block; float:left;}
.listBox li dl dd p.p3 .s2{ display:block; float:left; width:60px; height:12px; margin-top:6px; background:url(../img/star.jpg) 0 -12px no-repeat;}
.listBox li dl dd p.p3 .s2 i{ display:block; float:left; height:12px; background:url(../img/star.jpg) 0 0 no-repeat;}
@media screen and (max-width:1280px){
	.warp{ width:1260px;}
	}
@media screen and (max-width:1024px){
	.warp{ width:1000px;}
	.bnav a.noma,.bnav span.noma{ padding:0 20px;}
	.cnav a{ padding:0 20px;}
	.cnav span.yhj{ margin-right:-20px;}
	.snav li{ padding:0 10px;}
	.unit dl.dl1 dd span.time{ display:block;}
	.unit dl.dl1 dd span.time0{ display:none;}
	.bBox{ margin:0 50px; padding:30px 0;}
	.bBox li dl{ border-right:1px solid #ededed; padding:0 10px;}
	.bBox li dl dd h5{ font-size:16px;}
	.link1 p.p1 span{ padding:0 5px;}
	.num2{ margin-left:0;}
	.sxLink{ padding:0 0 10px 0;}
	.sxLink a{margin-right:15px; padding:0 20px;}

	}
@media screen and (max-width:768px){
	.warp{ width:740px;}
	.bnav a.noma,.bnav span.noma{ padding:0 10px;}
	.cnav a{ padding:0 10px;}
	.cnav span.yhj{ margin-right:-10px;}
	.newPro{ width:98px; margin-right:10px;}
	.newPro dt{ height:85px;}
	.indexFocus .swiper-pagination { bottom: -10px; }
	.indexFocus .swiper-pagination span { width: 10px; height: 10px;}
	.indexFocus a.btnImg{ width:50px; height:50px;margin-top:-25px;}
	.ban{ margin-top:20px; font-size:20px;}
	.unit dl.dl1 dd a.title,.unit dl.dl2 dd a.title{ padding-left:10px; font-size:16px;}
	.unit dl.dl1 dd span.time{ display:block;}
	.unit dl.dl2 dd span.time,.unit dl.dl1 dd span.time{ font-size:12px; height:20px; width:100%; line-height:20px; margin-left:0; left:0; bottom:60px; border-radius:0;}
	.bBox{ margin:0 50px; padding:20px 0;}
	.bBox li{ float:left; width:50%; margin-top:10px;}
	.link1 p.p1{ font-size:12px; line-height:20px; padding-bottom:10px;}
	.link1 p.p1 a{ display:inline-block;}
	.sxLink a{margin-right:10px; padding:0 10px;}
	.listBox li{ width:50%;}
	}
@media screen and (max-width:375px){
	.bBox{ margin:0 20px; padding:0;}
	.bBox li{ float:none; width:100%; margin-top:10px;}
	.bBox li dl{ border-right:none; border-bottom:1px solid #ededed;}
	.warp{ width:100%;}
	.nav{ height:70px;}
	.logo{ padding:18px 0 12px 0; float:none;}
	.logo img{ display:block; margin:0 auto;}
	.telBox{ display:none;}
	.bnav{ float:none;}
	.bnav a.noma,.bnav span.noma{font-size:12px; padding:0 15px;}
	.cnav{ float:none; background:#e2e2e2;}
	.cnav span.yhj{ margin-left:15px;}
	.cnav a{ color:#666;}
	.cnav a:hover{ color:#000;}
	.cnav span.line{ color:#999;}
	.snav{ height:400px;}
	.snav li{ float:none; height:auto; padding:0 10px;}
	.rbor{ border-right:none;}
	.title1{ width:125px; height:25px; line-height:25px;font-size:12px;}
	.title2{ float:none;height:25px; line-height:25px; font-size:12px;}
	.title3{ float:none;height:25px; line-height:25px; font-size:12px; width:auto;}
	.subLink{ width:100%;}
	.indexFocus a.btnImg{ width:36px; height:36px;margin-top:-18px;}
	.indexFocus a.prevImg{left:0;}
	.indexFocus a.nextImg{right:0;}
	.focus1{ height:0;}
	.focus2{ height:auto;}
	.ban{ margin-top:10px; font-size:16px;}
	.unit{ width:100%; float:none;}
	.unit dl{margin-top:10px;}
	.unit dl.dl1{ margin-right:0;}
	.unit dl.dl2{ margin-left:0;}
	.unit dl.dl1 dd,.unit dl.dl2 dd{ height:30px;}
	.unit dl.dl1 dd a.title,.unit dl.dl2 dd a.title{ line-height:30px; font-size:14px;}
	.unit dl.dl2 dd a.title span.xPrice{ padding-left:10px;}
	.unit dl.dl2 dd span.yPrice{ line-height:30px;}
	.unit dl.dl1 dd a.btnBm,.unit dl.dl2 dd a.btnBm{ font-size:12px; line-height:26px; margin:2px 2px 0 0; height:26px; width:80px;}
	.unit dl.dl2 dd span.time,.unit dl.dl1 dd span.time{ bottom:30px;}
	.link1,.link2{ float:none; width:90%; margin:0 auto;}
	.link2 .p1,.link2 .p2{ float:none; width:100%;}
	.link2 .p1 h2,.link2 .p2 h2{ margin-top:10px;}
	.bInfo{ font-size:12px;}
	.sxLink { padding:0 10px;}
	.sxLink a{ margin-top:5px; line-height:25px; height:25px;}
	.listBox li{ width:100%;}
	}
@media screen and (max-width:320px){
	.bnav a.noma, .bnav span.noma{ padding:0 9px;}
	.cnav span.yhj{ display:none;}
	}