body {
  background: #f3eee4;
}
/* 清理浮动 */
.fn-clear {
  zoom: 1;
  /* for IE6 IE7 */
}
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fn-left {
  float: left;
  display: inline;
}
.fn-right {
  float: right;
  display: inline;
}
/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.up2top {
  position: fixed;
  left: 50%;
  top: 0;
  width: 65px;
  height: 237px;
  padding-top: 60px;
  margin-left: 520px;
  background: url(up2top.png);
  z-index: 1000;
}
.up2top a {
  display: block;
  width: 65px;
  height: 69px;
  cursor: pointer;
}
.up2top a.up {
  height: 30px;
}
.top {
  height: 35px;
  background: #F8F5F0;
}
.top .bar {
  width: 1030px;
  margin: 0 auto;
}
.top .bar ul {
  float: right;
  display: inline;
  padding-top: 12px;
  margin-right: 20px;
}
.top .bar ul li {
  float: left;
  display: inline;
  padding: 0 25px;
  border-right: 1px solid #CBCBCB;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}
.top .bar ul li a {
  color: #1F130B;
}
.top .bar ul li:last-child {
  border: none;
}
.header {
  width: 1030px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}
.header .logo {
  position: absolute;
  left: 20px;
  top: -35px;
  z-index: 10;
}
.header .nav {
  position: absolute;
  left: 180px;
  bottom: 0;
}
.header .nav li {
  float: left;
  display: inline;
  font-size: 14px;
  padding: 8px 20px;
}
.header .nav li a {
  color: #261513;
}
.header .tel {
  position: absolute;
  top: 26px;
  right: 40px;
}
.banner {
  zoom: 1;
  /* for IE6 IE7 */
  position: relative;
  overflow: auto;
  width: 100%;
}
.banner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.banner li {
  float: left;
  display: inline;
  width: 100%;
}
.banner li img {
  display: block;
  width: 100%;
  max-width: 1920px;
}
.banner .arrow {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  background: url("l&r.png");
  cursor: pointer;
}
.banner .arrow.prev {
  left: 0;
}
.banner .arrow.next {
  right: 0;
  background-position: -70px 0;
}
.dot {
  width: 1030px;
  height: 60px;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 1px solid #E2E2E2;
}
.dot ul {
  margin: 0 25px;
}
.dot li {
  float: left;
  display: inline;
  width: 196px;
  height: 60px;
}
.dot li img {
  display: block;
}
.main {
  width: 1030px;
  margin: 0 auto;
  background: #ffffff;
}
.main .fn {
  padding: 50px 25px 0;
  zoom: 1;
  /* for IE6 IE7 */
}
.main .fn:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.main .fn .new {
  float: left;
  display: inline;
  width: 484px;
  height: 280px;
  background: url(newbg.png) right top no-repeat;
}
.main .fn .new-list {
  width: 242px;
  height: 280px;
  background: url(new-list.png) no-repeat;
}
.main .fn .new-list h3 {
  width: 206px;
  margin: 0 auto;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 0;
}
.main .fn .new-list ul {
  width: 206px;
  margin: 0 auto;
}
.main .fn .new-list ul li {
  height: 40px;
  margin-bottom: 2px;
  background: #161616;
  color: #A5A5A5;
  font-size: 16px;
  line-height: 40px;
  text-indent: 10px;
}
.main .fn .new-list ul li.on {
  background: #BF1F26;
  color: #ffffff;
}
.main .fn .prd {
  float: left;
  display: inline;
  margin-left: 11px;
}
.main .fn .prd img {
  display: block;
}
.main .fn .login {
  width: 235px;
  height: 280px;
  background: url(loginbg.png) no-repeat;
  float: left;
  display: inline;
  margin-left: 10px;
}
.main .fn .login h3 {
  width: 200px;
  margin: 0 auto;
  font-size: 16px;
  color: #ffffff;
  padding: 24px 0 15px;
}
.main .fn .login .box {
  zoom: 1;
  /* for IE6 IE7 */
  width: 200px;
  margin: 0 auto;
  color: #ffffff;
}
.main .fn .login .box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.main .fn .login .box .l {
  float: left;
  display: inline;
  width: 139px;
}
.main .fn .login .box .l input[type='text'],
.main .fn .login .box .l input[type='password'] {
  width: 139px;
  height: 26px;
  border: none;
  outline: none;
  background: #665A4E;
  margin-bottom: 2px;
  text-indent: 1em;
}
.main .fn .login .box .r {
  float: right;
  display: inline;
}
.main .fn .login .box .r a.btn {
  display: block;
  width: 53px;
  height: 53px;
  color: #ffffff;
  line-height: 53px;
  text-align: center;
  font-size: 16px;
  background: #BF1F26;
  cursor: pointer;
}
.main .fn .login .box .r a.btn:hover {
  text-decoration: none;
}
.main .slogan {
  zoom: 1;
  /* for IE6 IE7 */
  padding: 15px 25px 32px;
}
.main .slogan:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.main .slogan li {
  float: left;
  display: inline;
  margin-right: 10px;
}
.main .slogan li img {
  display: block;
}
.main .slogan li:last-child {
  margin: 0;
}
.main .info {
  margin: 0 25px;
  zoom: 1;
  /* for IE6 IE7 */
  width: 1030px;
  height: 68px;
  padding-bottom: 65px;
}
.main .info:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.main .info li {
  width: 237px;
  margin-right: 10px;
  float: left;
  display: inline;
}
.main .info li:last-child {
  margin: 0;
}
.main .info li .l {
  float: left;
  display: inline;
  margin-right: 15px;
}
.main .info li h2 {
  font-size: 18px;
  color: #303030;
}
.main .info li p {
  font-size: 14px;
  color: #858585;
}
.footer {
  height: 194px;
  background: #383736;
}
.footer .bar {
  width: 1030px;
  margin: 0 auto;
  padding-top: 45px;
}
.footer .bar .nav {
  float: left;
  display: inline;
  padding-top: 15px;
  margin-left: 38px;
}
.footer .bar .nav ul {
  zoom: 1;
  /* for IE6 IE7 */
  padding-bottom: 20px;
}
.footer .bar .nav ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.footer .bar .nav li {
  font-size: 14px;
  padding: 0 8px;
  height: 14px;
  line-height: 14px;
  border-right: 1px solid #F8F3F0;
  float: left;
  display: inline;
}
.footer .bar .nav li:first-child {
  padding-left: 0;
}
.footer .bar .nav li:last-child {
  border: none;
}
.footer .bar .nav li a {
  color: #F8F3F0;
}
.footer .bar .nav p {
  font-size: 14px;
  color: #ADADAD;
}
.footer .bar .order {
  float: left;
  display: inline;
  margin-left: 65px;
}
.footer .bar .order ul {
  padding-top: 10px;
}
.footer .bar .order li {
  float: left;
  display: inline;
  margin-right: 20px;
}
.footer .bar .order li:last-child {
  margin: 0;
}
.footer .bar .order li a {
  color: #ADADAD;
}
.footer .bar .order li span {
  display: block;
  text-align: center;
}
.footer .bar .order p {
  font-size: 14px;
  color: #F8F3F0;
}
.footer .bar .tel {
  float: left;
  display: inline;
  margin-left: 100px;
}
.footer .bar .tel p {
  font-size: 14px;
  color: #F8F3F0;
}
.footer .bar .tel img {
  display: block;
  margin: 24px 0 10px;
}
.footer .bar .tel span {
  display: block;
  color: #ADADAD;
}
.bottom {
  width: 1030px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.bottom p {
  text-align: center;
  color: #AEAEAE;
}
.tittleBar {
  height: 40px;
  background: #2E2A28;
}
.tittleBar h2 {
  width: 850px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 40px;
  padding-left: 200px;
}
.formBox {
  width: 1050px;
  margin: 0 auto;
  height: 443px;
  background: #FFFFFF;
  position: relative;
}
.formBox .greenok {
  position: absolute;
  top: 135px;
  left: 280px;
}
.formBox .orderInfo {
  position: absolute;
  top: 140px;
  left: 410px;
  color: #2C2A26;
  line-height: 24px;
  zoom: 1;
  /* for IE6 IE7 */
}
.formBox .orderInfo:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.formBox .orderInfo label {
  float: left;
  display: inline;
  text-align: right;
  margin-right: 15px;
}
.formBox .orderInfo span {
  color: #B61314;
}
.formBox .orderInfo a {
  display: inline-block;
  padding: 0 8px;
  color: #B61314;
  cursor: pointer;
}
.formBox .orderInfo a:first-child {
  border-right: 1px solid #CBCBCB;
}
.formBox .login {
  width: 424px;
  height: 200px;
  position: absolute;
  top: 105px;
  left: 144px;
  border-right: 1px solid #CBCBCB;
}
.formBox .login h3 {
  color: #666666;
  font-weight: 700;
  margin-bottom: 20px;
}
.formBox .login p {
  line-height: 25px;
  margin-bottom: 10px;
}
.formBox .login p.verificationCode input {
  width: 100px;
}
.formBox .login p input {
  outline: none;
  border: 1px solid #CBCBCB;
  width: 240px;
  height: 25px;
}
.formBox .login p span {
  color: #B61314;
  padding-left: 10px;
}
.formBox .login .loginBtn {
  margin-top: 10px;
  margin-right: 146px;
  width: 120px;
  height: 30px;
  background: #FF3D00;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  float: right;
  display: inline;
  cursor: pointer;
  text-decoration: none;
}
.formBox .login .forget {
  color: #941000;
  cursor: pointer;
  float: right;
  display: inline;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
.formBox .register {
  position: absolute;
  top: 160px;
  left: 716px;
}
.formBox .register p {
  color: #666666;
  font-weight: 700;
  margin-bottom: 10px;
}
.formBox .register a {
  display: block;
  width: 120px;
  height: 30px;
  background: #FF3D00;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.menuNav {
  zoom: 1;
  /* for IE6 IE7 */
  width: 900px;
  padding-top: 5px;
  padding-left: 150px;
  height: 35px;
  margin: 0 auto;
  background: #2E2A28;
}
.menuNav:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.menuNav li {
  float: left;
  display: inline;
  line-height: 30px;
  border-right: 1px solid #494846;
  padding: 0 34px;
  font-size: 16px;
}
.menuNav li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}
.menuNav li:last-child {
  border: none;
}
.cakeList {
  width: 1050px;
  margin: 0 auto;
  background: #FFFFFF;
  padding-top: 70px;
  zoom: 1;
  /* for IE6 IE7 */
}
.cakeList:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.cakeList li {
  float: left;
  display: inline;
  margin-left: 80px;
  margin-bottom: 70px;
}
.cakeList li .cakeImg {
  width: 242px;
  height: 216px;
  overflow: hidden;
}
.cakeList li .cakeImg img {
  display: block;
  width: 242px;
  height: 216px;
}
.cakeList li p {
  padding-left: 8px;
  color: #666666;
}
.cakeList li .bayBtn {
  display: block;
  width: 100px;
  height: 24px;
  margin-top: 10px;
  background: #FF3D00;
  text-align: center;
  color: #FFFFFF;
  line-height: 24px;
  margin-left: 8px;
  text-decoration: none;
  cursor: pointer;
}
.cartBox {
  width: 990px;
  margin: 0 auto;
  padding: 50px 30px 150px;
  background: #FFFFFF;
}
.cartBox .cartList {
  width: 990px;
  border-top: 1px solid #2C2A26;
}
.cartBox .cartList tr {
  border-bottom: 1px solid #EEEEEE;
}
.cartBox .cartList tr td {
  color: #666666;
}
.cartBox .cartList .cake {
  padding: 0 65px;
  width: 121px;
}
.cartBox .cartList .cake img {
  width: 121px;
  height: 120px;
}
.cartBox .cartList .del a {
  text-decoration: none;
  cursor: pointer;
}
.cartBox .cartList .del a:hover {
  color: #FF3B00;
}
.cartBox .cartList input {
  width: 30px;
  height: 21px;
  text-align: center;
  outline: none;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}
.cartBox .cartList .td {
  padding: 0 25px;
}
.cartBox .total {
  margin-top: 20px;
  text-align: right;
  padding-right: 70px;
}
.cartBox .total strong {
  font-size: 30px;
  color: #2C2A26;
  vertical-align: baseline;
  padding-left: 5px;
}
.cartBox .nextBtn {
  float: right;
  display: inline;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 15px;
  text-align: center;
  background: #FF3D00;
  text-decoration: none;
  cursor: pointer;
  margin-right: 70px;
}
.infoBox {
  width: 990px;
  margin: 0 auto;
  padding: 50px 30px 150px;
  background: #FFFFFF;
}
.infoBox .info {
  border-top: 1px solid #2C2A26;
  padding: 35px 30px;
}
.infoBox .info h3 {
  font-weight: 700;
  color: #666;
}
.infoBox .addressList {
  margin: 20px 0;
  padding: 0 24px;
  color: #666666;
}
.infoBox .addressList li {
  padding: 5px 0;
}
.infoBox .addressList li input {
  vertical-align: middle;
  margin-top: -3px;
}
.infoBox .addressList li span {
  padding: 0 40px 0 10px;
}
.infoBox .newAddress {
  color: #666;
}
.infoBox .newAddress li {
  zoom: 1;
  /* for IE6 IE7 */
  margin-bottom: 22px;
}
.infoBox .newAddress li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.infoBox .newAddress li label {
  float: left;
  display: inline;
  width: 85px;
  text-align: right;
  margin-right: 20px;
  line-height: 25px;
}
.infoBox .newAddress li select {
  margin-right: 12px;
}
.infoBox .newAddress li .r input {
  outline: none;
  border: 1px solid #CBCBCB;
  height: 25px;
}
.infoBox .cartList {
  width: 990px;
  border-top: 1px solid #2C2A26;
}
.infoBox .cartList tr {
  border-bottom: 1px solid #EEEEEE;
}
.infoBox .cartList tr td {
  color: #666666;
}
.infoBox .cartList .cake {
  padding: 0 65px;
  width: 121px;
}
.infoBox .cartList .cake img {
  width: 121px;
  height: 120px;
}
.infoBox .cartList .del a {
  text-decoration: none;
  cursor: pointer;
}
.infoBox .cartList .del a:hover {
  color: #FF3B00;
}
.infoBox .cartList input {
  width: 30px;
  height: 21px;
  text-align: center;
  outline: none;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}
.infoBox .cartList .td {
  padding: 0 25px;
}
.infoBox .total {
  margin-top: 20px;
  text-align: right;
  padding-right: 70px;
}
.infoBox .total strong {
  font-size: 30px;
  color: #2C2A26;
  vertical-align: baseline;
  padding-left: 5px;
}
.infoBox .nextBtn {
  float: right;
  display: inline;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 15px;
  text-align: center;
  background: #FF3D00;
  text-decoration: none;
  cursor: pointer;
  margin-right: 70px;
}
