body {
  background: #F3EEE4
}

/* 清理浮动 */
.fn-clear {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  zoom: 1; /* for IE6 IE7 */
}

.fn-left {
  float: left;
  display: inline;
}

.fn-right {
  float: right;
  display: inline;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.up2top {
  position: fixed;
  left: 50%;
  top: 0;
  width: 65px;
  height: 237px;
  padding-top: 60px;
  margin-left: 520px;
  background: url(up2top.png);
  z-index: 1000;
  a {
    display: block;
    width: 65px;
    height: 69px;
    cursor: pointer;
    &.up {
      height: 30px;
    }
  }

}

.top {
  height: 35px;
  background: #F8F5F0;
  .bar {
    width: 1030px;
    margin: 0 auto;
    ul {
      .fn-right;
      padding-top: 12px;
      margin-right: 20px;
      li {
        .fn-left;
        padding: 0 25px;
        border-right: 1px solid #CBCBCB;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        a {
          color: #1F130B;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}

.header {
  width: 1030px;
  height: 85px;
  margin: 0 auto;
  position: relative;
  .logo {
    position: absolute;
    left: 20px;
    top: -35px;
    z-index: 10;
  }
  .nav {
    position: absolute;
    left: 180px;
    bottom: 0;
    li {
      .fn-left;
      font-size: 14px;
      padding: 8px 20px;
      a {
        color: #261513;
      }
    }
  }
  .tel {
    position: absolute;
    top: 26px;
    right: 40px;
  }
}

.banner {
  .fn-clear;
  position: relative;
  overflow: auto;
  width: 100%;
  li {
    .fn-left;
    width: 100%;
    img {
      display: block;
      width: 100%;
      max-width: 1920px;
    }
  }
  .arrow {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    background: url("l&r.png");
    cursor: pointer;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
      background-position: -70px 0;
    }

  }

}

.dot {
  width: 1030px;
  height: 60px;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 1px solid #E2E2E2;
  ul {
    margin: 0 25px;
  }
  li {
    .fn-left;
    width: 196px;
    height: 60px;
    img {
      display: block;
    }
  }
}

.main {
  width: 1030px;
  margin: 0 auto;
  background: #ffffff;
  .fn {
    padding: 50px 25px 0;
    .fn-clear;
    .new {
      .fn-left;
      width: 484px;
      height: 280px;
      background: url(newbg.png) right top no-repeat;

    }
    .new-list {
      width: 242px;
      height: 280px;
      background: url(new-list.png) no-repeat;
      h3 {
        width: 206px;
        margin: 0 auto;
        font-size: 16px;
        color: #ffffff;
        padding: 15px 0;
      }
      ul {
        width: 206px;
        margin: 0 auto;
        li {
          height: 40px;
          margin-bottom: 2px;
          background: #161616;
          color: #A5A5A5;
          font-size: 16px;
          line-height: 40px;
          text-indent: 10px;
          &.on {
            background: #BF1F26;
            color: #ffffff;
          }
        }
      }
    }
    .prd {
      .fn-left;
      margin-left: 11px;
      img {
        display: block;
      }
    }
    .login {
      width: 235px;
      height: 280px;
      background: url(loginbg.png) no-repeat;
      .fn-left;
      margin-left: 10px;
      h3 {
        width: 200px;
        margin: 0 auto;
        font-size: 16px;
        color: #ffffff;
        padding: 24px 0 15px;
      }
      .box {
        .fn-clear;
        width: 200px;
        margin: 0 auto;
        color: #ffffff;
        .l {
          .fn-left;
          width: 139px;
          input[type='text'], input[type='password'] {
            width: 139px;
            height: 26px;
            border: none;
            outline: none;
            background: #665A4E;
            margin-bottom: 2px;
            text-indent: 1em;
          }
        }
        .r {
          .fn-right;
          a.btn {
            display: block;
            width: 53px;
            height: 53px;
            color: #ffffff;
            line-height: 53px;
            text-align: center;
            font-size: 16px;
            background: #BF1F26;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .slogan {
    .fn-clear;
    padding: 15px 25px 32px;
    li {
      .fn-left;
      margin-right: 10px;
      img {
        display: block;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  .info {
    margin: 0 25px;
    .fn-clear;
    width: 1030px;
    height: 68px;
    padding-bottom: 65px;
    li {
      width: 237px;
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
      .fn-left;
      .l {
        .fn-left;
        margin-right: 15px;
      }
      h2 {
        font-size: 18px;
        color: #303030;
      }
      p {
        font-size: 14px;
        color: #858585;
      }
    }
  }
}

.footer {
  height: 194px;
  background: #383736;
  .bar {
    width: 1030px;
    margin: 0 auto;
    padding-top: 45px;
    .nav {
      .fn-left;
      padding-top: 15px;
      margin-left: 38px;
      ul {
        .fn-clear;
        padding-bottom: 20px;
      }
      li {
        font-size: 14px;
        padding: 0 8px;
        height: 14px;
        line-height: 14px;
        border-right: 1px solid #F8F3F0;
        .fn-left;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
        }
        a {
          color: #F8F3F0;
        }
      }
      p {
        font-size: 14px;
        color: #ADADAD;
      }
    }
    .order {
      .fn-left;
      margin-left: 65px;
      ul {
        padding-top: 10px;
      }
      li {
        .fn-left;
        margin-right: 20px;
        &:last-child {
          margin: 0;
        }
        a {
          color: #ADADAD;
        }
        span {
          display: block;
          text-align: center;
        }
      }
      p {
        font-size: 14px;
        color: #F8F3F0;
      }
    }
    .tel {
      .fn-left;
      margin-left: 100px;
      p {
        font-size: 14px;
        color: #F8F3F0;
      }
      img {
        display: block;
        margin: 24px 0 10px;
      }
      span {
        display: block;
        color: #ADADAD;
      }
    }
  }

}

.bottom {
  width: 1030px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  p {
    text-align: center;
    color: #AEAEAE;
  }
}

.tittleBar {
  height: 40px;
  background: #2E2A28;
  h2 {
    width: 850px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 40px;
    padding-left: 200px;
  }
}

.formBox {
  width: 1050px;
  margin: 0 auto;
  height: 443px;
  background: #FFFFFF;
  position: relative;
  .greenok {
    position: absolute;
    top: 135px;
    left: 280px;
  }
  .orderInfo {
    position: absolute;
    top: 140px;
    left: 410px;
    color: #2C2A26;
    line-height: 24px;
    .fn-clear;
    label {
      .fn-left;
      text-align: right;
      margin-right: 15px;
    }
    span {
      color: #B61314;
    }
    a {
      display: inline-block;
      padding: 0 8px;
      color: #B61314;
      &:first-child {
        border-right: 1px solid #CBCBCB;
      }
      cursor: pointer;
    }
  }
  .login {
    width: 424px;
    height: 200px;
    position: absolute;
    top: 105px;
    left: 144px;
    border-right: 1px solid #CBCBCB;
    h3 {
      color: #666666;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      line-height: 25px;
      margin-bottom: 10px;
      &.verificationCode {
        input {
          width: 100px;
        }
      }
      input {
        outline: none;
        border: 1px solid #CBCBCB;
        width: 240px;
        height: 25px;
      }
      span {
        color: #B61314;
        padding-left: 10px;
      }
    }
    .loginBtn {
      margin-top: 10px;
      margin-right: 146px;
      width: 120px;
      height: 30px;
      background: #FF3D00;
      line-height: 30px;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      .fn-right;
      cursor: pointer;
      text-decoration: none;
    }
    .forget {
      color: #941000;
      cursor: pointer;
      .fn-right;
      line-height: 30px;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  .register {
    position: absolute;
    top: 160px;
    left: 716px;
    p {
      color: #666666;
      font-weight: 700;
      margin-bottom: 10px;
    }
    a {
      display: block;
      width: 120px;
      height: 30px;
      background: #FF3D00;
      line-height: 30px;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.menuNav {
  .fn-clear;
  width: 900px;
  padding-top: 5px;
  padding-left: 150px;
  height: 35px;
  margin: 0 auto;
  background: #2E2A28;
  li {
    .fn-left;
    line-height: 30px;
    border-right: 1px solid #494846;
    padding: 0 34px;
    font-size: 16px;
    a {
      display: block;
      color: #FFFFFF;
      text-decoration: none;
    }
    &:last-child {
      border: none;
    }
  }
}

.cakeList {
  width: 1050px;
  margin: 0 auto;
  background: #FFFFFF;
  padding-top: 70px;
  .fn-clear;
  li {
    .fn-left;
    margin-left: 80px;
    margin-bottom: 70px;
    .cakeImg {
      width: 242px;
      height: 216px;
      overflow: hidden;
      img {
        display: block;
        width: 242px;
        height: 216px;
      }
    }
    p {
      padding-left: 8px;
      color: #666666;
    }
    .bayBtn {
      display: block;
      width: 100px;
      height: 24px;
      margin-top: 10px;
      background: #FF3D00;
      text-align: center;
      color: #FFFFFF;
      line-height: 24px;
      margin-left: 8px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.cartBox {
  width: 990px;
  margin: 0 auto;
  padding: 50px 30px 150px;
  background: #FFFFFF;
  .cartList {
    width: 990px;
    border-top: 1px solid #2C2A26;
    tr {
      border-bottom: 1px solid #EEEEEE;
      td {
        color: #666666;
      }
    }
    .cake {
      padding: 0 65px;
      width: 121px;
      img {
        width: 121px;
        height: 120px;
      }
    }
    .del {
      a {
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #FF3B00;
        }
      }

    }
    input {
      width: 30px;
      height: 21px;
      text-align: center;
      outline: none;
      border: 1px solid #DDDDDD;
      margin-right: 10px;
    }
    .td {
      padding: 0 25px;
    }
  }
  .total {
    margin-top: 20px;
    text-align: right;
    padding-right: 70px;
    strong {
      font-size: 30px;
      color: #2C2A26;
      vertical-align: baseline;
      padding-left: 5px;
    }
  }
  .nextBtn {
    .fn-right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 15px;
    text-align: center;
    background: #FF3D00;
    text-decoration: none;
    cursor: pointer;
    margin-right: 70px;
  }
}
.infoBox{
  width: 990px;
  margin: 0 auto;
  padding: 50px 30px 150px;
  background: #FFFFFF;
  .info{
    border-top: 1px solid #2C2A26;
    padding: 35px 30px;
    h3{
      font-weight: 700;
      color: #666;
    }
  }
  .addressList{
    margin: 20px 0;
    padding: 0 24px;
    color: #666666;
    li{
      padding: 5px 0;
      input{
        vertical-align: middle;
        margin-top: -3px;
      }
      span{
        padding: 0 40px 0 10px;
      }
    }
  }
  .newAddress{
    color: #666;
    li{
      .fn-clear;
      margin-bottom: 22px;
      label{
        .fn-left;
        width:85px;
        text-align: right;
        margin-right: 20px;
        line-height: 25px;
      }
      select{
        margin-right: 12px;
      }
      .r{
        input{
          outline: none;
          border: 1px solid #CBCBCB;
          height: 25px;
        }
      }
    }
  }
  .cartList {
    width: 990px;
    border-top: 1px solid #2C2A26;
    tr {
      border-bottom: 1px solid #EEEEEE;
      td {
        color: #666666;
      }
    }
    .cake {
      padding: 0 65px;
      width: 121px;
      img {
        width: 121px;
        height: 120px;
      }
    }
    .del {
      a {
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #FF3B00;
        }
      }

    }
    input {
      width: 30px;
      height: 21px;
      text-align: center;
      outline: none;
      border: 1px solid #DDDDDD;
      margin-right: 10px;
    }
    .td {
      padding: 0 25px;
    }
  }
  .total {
    margin-top: 20px;
    text-align: right;
    padding-right: 70px;
    strong {
      font-size: 30px;
      color: #2C2A26;
      vertical-align: baseline;
      padding-left: 5px;
    }
  }
  .nextBtn {
    .fn-right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 15px;
    text-align: center;
    background: #FF3D00;
    text-decoration: none;
    cursor: pointer;
    margin-right: 70px;
  }
}